.cell {
  outline: 1px solid white;
  width: 100px;
  height: 100px;
  float: left;
  transition: outline 0.5s, background-color 0.5s;
  cursor: crosshair;
  background-color: gray;
  list-style: none;
}

.grid {
  width: 300px;
  height: 300px;
}

.cell:hover { background: yellow; }

.clickedcell {
  outline: 1px solid black;
  width: 100px;
  height: 100px;
  float: left;
  transition: outline 0.5s, background-color 0.5s;
  cursor: crosshair;
  background-color: white;
  list-style: none;
  text: black;
  font-size: 80px;
  text-align: center;
}
